In [77]:
import pandas as pd
from selenium import webdriver as wd

In [78]:
df =  pd.read_excel('commodities.xlsx')

In [79]:
display(df)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8     Trigo      1549.11          NaN      NaN
9   Tilápia         9.05          NaN      NaN

In [80]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Produto      10 non-null     object
 1   Preço Ideal  10 non-null     float64
 2   Preço Atual  0 non-null      float64
 3   Comprar      0 non-null      float64
dtypes: float64(3), object(1)
memory usage: 448.0+ bytes
None

In [81]:
df['Comprar'] = df['Comprar'].astype(str)

In [82]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Produto      10 non-null     object
 1   Preço Ideal  10 non-null     float64
 2   Preço Atual  0 non-null      float64
 3   Comprar      10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes
None

In [83]:
for item in df.index:
    produto = df.loc[item, 'Produto']
    print(f'{produto} hoje: R$: ', end='')
       
    produto = produto.replace('ó','o').replace('ã','a').replace('ç','c').replace('ú','u').replace('é','e').replace('á','a')
    #Função para substituir os caracteres especiais
    
    link = f'https://www.melhorcambio.com/{produto}-hoje'
    web = wd.Chrome()
    web.get(link)
    valor  = web.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    valor = valor.replace('.','').replace(',','.')
    # formatando para o formato americano
    print(valor)

    df.loc[item,'Preço Atual'] = float(valor)
    # Inserção dos valores na base de dados

Milho hoje: R$: 85.37
Soja hoje: R$: 162.12
Boi hoje: R$: 278.90
Petróleo hoje: R$: 383.15
Algodão hoje: R$: 491.68
Açúcar hoje: R$: 136.88
Café hoje: R$: 1128.17
Ouro hoje: R$: 331.52
Trigo hoje: R$: 1549.08
Tilápia hoje: R$: 9.05

In [84]:
df['Comprar'] = df['Preço Atual'] <= df['Preço Ideal']
display(df)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        85.37    False
1      Soja       163.59       162.12     True
2       Boi       282.20       278.90     True
3  Petróleo       424.37       383.15     True
4   Algodão       497.76       491.68     True
5    Açúcar       136.23       136.88    False
6      Café      1092.87      1128.17    False
7      Ouro       321.77       331.52    False
8     Trigo      1549.11      1549.08     True
9   Tilápia         9.05         9.05     True

In [85]:
df.to_excel('commodities_atualizado.xlsx',index=False)